defaults: &defaults
  adapter: postgresql
  pool: 5
  timeout: 5000
  username: dev
  password: dev
  
development:
  <<: *defaults
  database: party_map_dev

test:
  <<: *defaults
  database: party_map_test

production:
  <<: *defaults
  database: party_map
